USE [db_inventario]
GO
ALTER TABLE [dbo].[productos] DROP CONSTRAINT [FK_Prov_ToProd]
GO
ALTER TABLE [dbo].[productos] DROP CONSTRAINT [FK_Catego_ToProd]
GO
ALTER TABLE [dbo].[inventario] DROP CONSTRAINT [FK_inventario_Toproductos]
GO
ALTER TABLE [dbo].[facturasDetalles] DROP CONSTRAINT [FK_facturasDetalles_ToProducto]
GO
ALTER TABLE [dbo].[facturasDetalles] DROP CONSTRAINT [FK_facturasDetalles_ToFactura]
GO
ALTER TABLE [dbo].[facturas] DROP CONSTRAINT [FK_facturas_ToEmpleado]
GO
ALTER TABLE [dbo].[facturas] DROP CONSTRAINT [FK_facturas_ToCliente]
GO
ALTER TABLE [dbo].[empleados] DROP CONSTRAINT [FK_empleados_Toroles]
GO
ALTER TABLE [dbo].[comprasDetalles] DROP CONSTRAINT [FK_comprasDetalles_ToInventario]
GO
ALTER TABLE [dbo].[comprasDetalles] DROP CONSTRAINT [FK_comprasDetalles_ToCompra]
GO
ALTER TABLE [dbo].[compras] DROP CONSTRAINT [FK_compras_ToEmpleado]
GO
ALTER TABLE [dbo].[proveedores] DROP CONSTRAINT [DF__tmp_ms_xx__estad__619B8048]
GO
ALTER TABLE [dbo].[proveedores] DROP CONSTRAINT [DF__tmp_ms_xx__ultim__60A75C0F]
GO
ALTER TABLE [dbo].[productos] DROP CONSTRAINT [DF__productos__estad__32E0915F]
GO
ALTER TABLE [dbo].[empleados] DROP CONSTRAINT [DF__empleados__ultim__6E01572D]
GO
ALTER TABLE [dbo].[empleados] DROP CONSTRAINT [DF__empleados__estad__2B3F6F97]
GO
ALTER TABLE [dbo].[clientes] DROP CONSTRAINT [DF__tmp_ms_xx__estad__571DF1D5]
GO
ALTER TABLE [dbo].[clientes] DROP CONSTRAINT [DF__clientes__ultima__628FA481]
GO
ALTER TABLE [dbo].[categorias] DROP CONSTRAINT [DF__tmp_ms_xx__estad__5BE2A6F2]
GO
ALTER TABLE [dbo].[categorias] DROP CONSTRAINT [DF__tmp_ms_xx__ultim__5AEE82B9]
GO
/****** Object:  Index [UQ__producto__40F9A2068D2DDCDE]    Script Date: 5/11/2025 00:44:08 ******/
ALTER TABLE [dbo].[productos] DROP CONSTRAINT [UQ__producto__40F9A2068D2DDCDE]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[roles]') AND type in (N'U'))
DROP TABLE [dbo].[roles]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[proveedores]') AND type in (N'U'))
DROP TABLE [dbo].[proveedores]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[productos]') AND type in (N'U'))
DROP TABLE [dbo].[productos]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[inventario]') AND type in (N'U'))
DROP TABLE [dbo].[inventario]
GO
/****** Object:  Table [dbo].[facturasDetalles]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[facturasDetalles]') AND type in (N'U'))
DROP TABLE [dbo].[facturasDetalles]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[facturas]') AND type in (N'U'))
DROP TABLE [dbo].[facturas]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[empleados]') AND type in (N'U'))
DROP TABLE [dbo].[empleados]
GO
/****** Object:  Table [dbo].[comprasDetalles]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[comprasDetalles]') AND type in (N'U'))
DROP TABLE [dbo].[comprasDetalles]
GO
/****** Object:  Table [dbo].[compras]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[compras]') AND type in (N'U'))
DROP TABLE [dbo].[compras]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clientes]') AND type in (N'U'))
DROP TABLE [dbo].[clientes]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 5/11/2025 00:44:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categorias]') AND type in (N'U'))
DROP TABLE [dbo].[categorias]
GO
USE [master]
GO
/****** Object:  Database [db_inventario]    Script Date: 5/11/2025 00:44:08 ******/
DROP DATABASE [db_inventario]
GO
/****** Object:  Database [db_inventario]    Script Date: 5/11/2025 00:44:08 ******/
CREATE DATABASE [db_inventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_inventario', FILENAME = N'C:\Users\jimmy\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\db_inventario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_inventario_log', FILENAME = N'C:\Users\jimmy\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\db_inventario.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_inventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_inventario]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[ultimaActualizacion] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[email] [char](30) NOT NULL,
	[direccion] [char](80) NOT NULL,
	[telefono] [char](10) NOT NULL,
	[ultimaActualizacion] [datetime2](7) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compras]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compras](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[numeroCompra] [int] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[horaCompra] [time](0) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comprasDetalles]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprasDetalles](
	[idCompraDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NOT NULL,
	[idInventario] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompraDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NOT NULL,
	[nombre] [char](50) NOT NULL,
	[credencial] [char](10) NOT NULL,
	[contraseña] [char](35) NOT NULL,
	[telefono] [nchar](10) NOT NULL,
	[email] [char](30) NOT NULL,
	[direccion] [char](80) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[estado] [bit] NOT NULL,
	[ultimaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[idFactura] [int] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idCliente] [int] NULL,
	[numeroFactura] [char](10) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[iva] [decimal](10, 2) NOT NULL,
	[metodoPago] [char](10) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](0) NOT NULL,
	[estado] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturasDetalles]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturasDetalles](
	[idFacturaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NOT NULL,
	[idInventario] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[estado] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFacturaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[idInventario] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[ubicacion] [char](200) NOT NULL,
	[ultimaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[idProveedor] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[codigo] [char](10) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[descripcion] [char](500) NOT NULL,
	[fechaProd] [date] NULL,
	[fechaVenc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[telefono] [char](15) NOT NULL,
	[email] [char](50) NOT NULL,
	[direccion] [char](200) NOT NULL,
	[ultimaActualizacion] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/11/2025 00:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [char](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([idCategoria], [nombre], [ultimaActualizacion], [estado]) VALUES (1, N'Pinturas                                          ', CAST(N'2025-11-05T00:15:48.307' AS DateTime), 1)
INSERT [dbo].[categorias] ([idCategoria], [nombre], [ultimaActualizacion], [estado]) VALUES (2, N'Herramientas                                      ', CAST(N'2025-11-03T21:35:48.930' AS DateTime), 1)
INSERT [dbo].[categorias] ([idCategoria], [nombre], [ultimaActualizacion], [estado]) VALUES (1004, N'Electronica                                       ', CAST(N'2025-11-03T21:30:12.367' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([idCliente], [nombre], [email], [direccion], [telefono], [ultimaActualizacion], [estado]) VALUES (1, N'Juan Martin Zelaya                                ', N'juanin@gmail.com              ', N'Casa numero 5, poligono 4, Santa maria                                          ', N'7151-4545 ', CAST(N'2025-11-03T21:05:56.2005645' AS DateTime2), 0)
INSERT [dbo].[clientes] ([idCliente], [nombre], [email], [direccion], [telefono], [ultimaActualizacion], [estado]) VALUES (2, N'Wilfredo Josué Ortez Gaita                        ', N'wil123@gmail.com              ', N'En su casa de, Jucuapas                                                         ', N'1245-1212 ', CAST(N'2025-11-05T00:18:08.5190000' AS DateTime2), 1)
INSERT [dbo].[clientes] ([idCliente], [nombre], [email], [direccion], [telefono], [ultimaActualizacion], [estado]) VALUES (1002, N'Miguel Jose Martin Guzman                         ', N'jose123@gmail.com             ', N'Casa de prueba piedra blanca                                                    ', N'2484-0000 ', CAST(N'2025-11-03T21:05:56.2005645' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([idEmpleado], [idRol], [nombre], [credencial], [contraseña], [telefono], [email], [direccion], [fechaNacimiento], [estado], [ultimaActualizacion]) VALUES (1, 2, N'Luis Roberto Martinez                             ', N'USR000001 ', N'#Ds12345                           ', N'5656-1212 ', N'LuisD@gmail.com               ', N'Casa de prueba piedra blanca                                                    ', CAST(N'2007-01-29' AS Date), 0, CAST(N'2025-11-04T18:34:40.8312438' AS DateTime2))
INSERT [dbo].[empleados] ([idEmpleado], [idRol], [nombre], [credencial], [contraseña], [telefono], [email], [direccion], [fechaNacimiento], [estado], [ultimaActualizacion]) VALUES (2, 1, N'Jimmy Roberto Martínez Gomez                      ', N'USR000002 ', N'#Jimmy12                           ', N'1212-4545 ', N'jimmy@gmail.com               ', N'Casa de prueba piedra blanca                                                    ', CAST(N'2004-06-15' AS Date), 1, CAST(N'2025-11-05T00:17:15.7370000' AS DateTime2))
INSERT [dbo].[empleados] ([idEmpleado], [idRol], [nombre], [credencial], [contraseña], [telefono], [email], [direccion], [fechaNacimiento], [estado], [ultimaActualizacion]) VALUES (3, 2, N'Jimmy Martine                                     ', N'USR000003 ', N'#Jimmy12                           ', N'5656-1212 ', N'Ji270@gmail.com               ', N'Casa de prueba piedra blanca                                                    ', CAST(N'2007-11-01' AS Date), 1, CAST(N'2025-11-04T18:34:40.8312438' AS DateTime2))
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[inventario] ON 

INSERT [dbo].[inventario] ([idInventario], [idProducto], [precio], [costo], [cantidad], [ubicacion], [ultimaActualizacion]) VALUES (1, 1, CAST(14.99 AS Decimal(10, 2)), CAST(7.88 AS Decimal(10, 2)), 450, N'Pasillo 12                                                                                                                                                                                              ', CAST(N'2025-10-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[inventario] ([idInventario], [idProducto], [precio], [costo], [cantidad], [ubicacion], [ultimaActualizacion]) VALUES (2, 1009, CAST(15.99 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), 500, N'Pasillo 12                                                                                                                                                                                              ', CAST(N'2025-10-28T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[inventario] ([idInventario], [idProducto], [precio], [costo], [cantidad], [ubicacion], [ultimaActualizacion]) VALUES (1002, 1016, CAST(12.50 AS Decimal(10, 2)), CAST(8.87 AS Decimal(10, 2)), 500, N'Pasillo 12                                                                                                                                                                                              ', CAST(N'2025-10-31T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([idProveedor], [nombre], [telefono], [email], [direccion], [ultimaActualizacion], [estado]) VALUES (1, N'Sherwin Williams                                  ', N'5656-1212      ', N'sherwin1234@gmail.com                             ', N'Contiguo a Ferretería Diana, Contiguo a Universidad Gerardo Barrios, carretera Litoral, salida a San Miguel, CA-2                                                                                       ', CAST(N'2025-11-03T22:13:14.417' AS DateTime), 1)
INSERT [dbo].[proveedores] ([idProveedor], [nombre], [telefono], [email], [direccion], [ultimaActualizacion], [estado]) VALUES (3, N'Galvanissa                                        ', N'5656-12        ', N'juanitoperez123@gmail.com                         ', N'Santa Maria                                                                                                                                                                                             ', CAST(N'2025-11-03T21:59:37.960' AS DateTime), 1)
INSERT [dbo].[proveedores] ([idProveedor], [nombre], [telefono], [email], [direccion], [ultimaActualizacion], [estado]) VALUES (1002, N'IMACASA                                           ', N'2484-0000      ', N'jose123@gmail.com                                 ', N'Final Calle Libertad Poniente, Parque Industrial Santa Lucia Santa Ana CP, 2201                                                                                                                         ', CAST(N'2025-11-03T21:59:37.960' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([idRol], [rol]) VALUES (1, N'Administrador  ')
INSERT [dbo].[roles] ([idRol], [rol]) VALUES (2, N'Bodegua        ')
INSERT [dbo].[roles] ([idRol], [rol]) VALUES (3, N'Cajero         ')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producto__40F9A2068D2DDCDE]    Script Date: 5/11/2025 00:44:08 ******/
ALTER TABLE [dbo].[productos] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categorias] ADD  DEFAULT (getdate()) FOR [ultimaActualizacion]
GO
ALTER TABLE [dbo].[categorias] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (sysdatetime()) FOR [ultimaActualizacion]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT (sysdatetime()) FOR [ultimaActualizacion]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (getdate()) FOR [ultimaActualizacion]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [FK_compras_ToEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [FK_compras_ToEmpleado]
GO
ALTER TABLE [dbo].[comprasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_comprasDetalles_ToCompra] FOREIGN KEY([idCompra])
REFERENCES [dbo].[compras] ([idCompra])
GO
ALTER TABLE [dbo].[comprasDetalles] CHECK CONSTRAINT [FK_comprasDetalles_ToCompra]
GO
ALTER TABLE [dbo].[comprasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_comprasDetalles_ToInventario] FOREIGN KEY([idInventario])
REFERENCES [dbo].[inventario] ([idInventario])
GO
ALTER TABLE [dbo].[comprasDetalles] CHECK CONSTRAINT [FK_comprasDetalles_ToInventario]
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_Toroles] FOREIGN KEY([idRol])
REFERENCES [dbo].[roles] ([idRol])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [FK_empleados_Toroles]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_ToCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[clientes] ([idCliente])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_ToCliente]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_ToEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_ToEmpleado]
GO
ALTER TABLE [dbo].[facturasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_facturasDetalles_ToFactura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[facturas] ([idFactura])
GO
ALTER TABLE [dbo].[facturasDetalles] CHECK CONSTRAINT [FK_facturasDetalles_ToFactura]
GO
ALTER TABLE [dbo].[facturasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_facturasDetalles_ToProducto] FOREIGN KEY([idInventario])
REFERENCES [dbo].[inventario] ([idInventario])
GO
ALTER TABLE [dbo].[facturasDetalles] CHECK CONSTRAINT [FK_facturasDetalles_ToProducto]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_Toproductos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[productos] ([idProducto])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_Toproductos]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_Catego_ToProd] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_Catego_ToProd]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_Prov_ToProd] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_Prov_ToProd]
GO
USE [master]
GO
