USE [db_inventario]
/****** Object:  Table [dbo].[categorias]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[ultimaActualizacion] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[clientes]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[email] [char](30) NOT NULL,
	[direccion] [char](80) NOT NULL,
	[telefono] [char](10) NOT NULL,
	[ultimaActualizacion] [datetime2](7) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[compras]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[compras](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[numeroCompra] [char](10) NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[horaCompra] [time](0) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[iva] [decimal](10, 2) NOT NULL,
	[metodoPago] [char](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[estado] [char](20) NOT NULL,
	[motivoAnulacion] [char](200) NULL,
	[fechaAnulacion] [datetime2](7) NULL,
	[idEmpleadoAnulacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[comprasDetalles]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[comprasDetalles](
	[idCompraDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NOT NULL,
	[idInventario] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[costoAnterior] [decimal](10, 2) NOT NULL,
	[precioAnterior] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompraDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[devoluciones]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[devoluciones](
	[idDevolucion] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[fechaDevolucion] [date] NOT NULL,
	[horaDevolucion] [time](7) NOT NULL,
	[totalDevolucion] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[devolucionesDetalles]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[devolucionesDetalles](
	[idDevolucionDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idDevolucion] [int] NOT NULL,
	[idFacturaDetalle] [int] NOT NULL,
	[cantidadDevuelta] [int] NOT NULL,
	[motivo] [char](40) NOT NULL,
	[descripcion] [char](80) NOT NULL,
	[precioUnitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[reintegrarInventario] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDevolucionDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[empleados]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[empleados](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NOT NULL,
	[nombre] [char](50) NOT NULL,
	[credencial] [char](10) NOT NULL,
	[contraseña] [char](35) NOT NULL,
	[telefono] [nchar](10) NOT NULL,
	[email] [char](30) NOT NULL,
	[direccion] [char](80) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[estado] [bit] NOT NULL,
	[ultimaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[facturas]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[facturas](
	[idFactura] [int] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idCliente] [int] NULL,
	[numeroFactura] [char](10) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[iva] [decimal](10, 2) NOT NULL,
	[metodoPago] [char](10) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[facturasDetalles]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[facturasDetalles](
	[idFacturaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NOT NULL,
	[idInventario] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFacturaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[inventario]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[inventario](
	[idInventario] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[ubicacion] [char](200) NOT NULL,
	[ultimaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[productos]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[idProveedor] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[codigo] [char](10) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[estado] [bit] NOT NULL,
	[descripcion] [char](500) NOT NULL,
	[fechaProd] [date] NULL,
	[fechaVenc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[proveedores]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NOT NULL,
	[telefono] [char](15) NOT NULL,
	[email] [char](50) NOT NULL,
	[direccion] [char](200) NOT NULL,
	[ultimaActualizacion] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[roles]    Script Date: 18/11/2025 16:34:40 ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [char](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[categorias] ADD  DEFAULT (getdate()) FOR [ultimaActualizacion]

ALTER TABLE [dbo].[categorias] ADD DEFAULT ((1)) FOR [estado]

ALTER TABLE [dbo].[clientes] ADD  DEFAULT (sysdatetime()) FOR [ultimaActualizacion]

ALTER TABLE [dbo].[clientes] ADD DEFAULT ((1)) FOR [estado]

ALTER TABLE [dbo].[compras] ADD DEFAULT ((0)) FOR [subtotal]

ALTER TABLE [dbo].[compras] ADD DEFAULT ((0)) FOR [iva]

ALTER TABLE [dbo].[compras] ADD  DEFAULT ('Efectivo') FOR [metodoPago]

ALTER TABLE [dbo].[compras] ADD DEFAULT ((0)) FOR [cantidad]

ALTER TABLE [dbo].[comprasDetalles] ADD  DEFAULT ((0)) FOR [costoAnterior]

ALTER TABLE [dbo].[comprasDetalles] ADD  DEFAULT ((0)) FOR [precioAnterior]

ALTER TABLE [dbo].[devoluciones] ADD DEFAULT ((0)) FOR [cantidad]

ALTER TABLE [dbo].[empleados] ADD DEFAULT ((1)) FOR [estado]

ALTER TABLE [dbo].[empleados] ADD  DEFAULT (sysdatetime()) FOR [ultimaActualizacion]

ALTER TABLE [dbo].[productos] ADD DEFAULT ((1)) FOR [estado]

ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (getdate()) FOR [ultimaActualizacion]

ALTER TABLE [dbo].[proveedores] ADD DEFAULT ((1)) FOR [estado]

ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [FK_compras_ToEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleados] ([idEmpleado])

ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [FK_compras_ToEmpleado]

ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [FK_compras_ToempleadoAnulacion] FOREIGN KEY([idEmpleadoAnulacion])
REFERENCES [dbo].[empleados] ([idEmpleado])

ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [FK_compras_ToempleadoAnulacion]

ALTER TABLE [dbo].[compras]  WITH CHECK ADD  CONSTRAINT [FK_compras_ToProveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedores] ([idProveedor])

ALTER TABLE [dbo].[compras] CHECK CONSTRAINT [FK_compras_ToProveedor]

ALTER TABLE [dbo].[comprasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_comprasDetalles_ToCompra] FOREIGN KEY([idCompra])
REFERENCES [dbo].[compras] ([idCompra])

ALTER TABLE [dbo].[comprasDetalles] CHECK CONSTRAINT [FK_comprasDetalles_ToCompra]

ALTER TABLE [dbo].[comprasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_comprasDetalles_ToInventario] FOREIGN KEY([idInventario])
REFERENCES [dbo].[inventario] ([idInventario])

ALTER TABLE [dbo].[comprasDetalles] CHECK CONSTRAINT [FK_comprasDetalles_ToInventario]

ALTER TABLE [dbo].[devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_devoluciones_ToEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleados] ([idEmpleado])

ALTER TABLE [dbo].[devoluciones] CHECK CONSTRAINT [FK_devoluciones_ToEmpleado]

ALTER TABLE [dbo].[devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_devoluciones_Tofactura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[facturas] ([idFactura])

ALTER TABLE [dbo].[devoluciones] CHECK CONSTRAINT [FK_devoluciones_Tofactura]

ALTER TABLE [dbo].[devolucionesDetalles]  WITH CHECK ADD  CONSTRAINT [FK_Table_ToDevolucion] FOREIGN KEY([idDevolucion])
REFERENCES [dbo].[devoluciones] ([idDevolucion])

ALTER TABLE [dbo].[devolucionesDetalles] CHECK CONSTRAINT [FK_Table_ToDevolucion]

ALTER TABLE [dbo].[devolucionesDetalles]  WITH CHECK ADD  CONSTRAINT [FK_Table_ToFacturaDetalle] FOREIGN KEY([idFacturaDetalle])
REFERENCES [dbo].[facturasDetalles] ([idFacturaDetalle])

ALTER TABLE [dbo].[devolucionesDetalles] CHECK CONSTRAINT [FK_Table_ToFacturaDetalle]

ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_Toroles] FOREIGN KEY([idRol])
REFERENCES [dbo].[roles] ([idRol])

ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [FK_empleados_Toroles]

ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_ToCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[clientes] ([idCliente])

ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_ToCliente]

ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_ToEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleados] ([idEmpleado])

ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_ToEmpleado]

ALTER TABLE [dbo].[facturasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_facturasDetalles_ToFactura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[facturas] ([idFactura])

ALTER TABLE [dbo].[facturasDetalles] CHECK CONSTRAINT [FK_facturasDetalles_ToFactura]

ALTER TABLE [dbo].[facturasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_facturasDetalles_ToProducto] FOREIGN KEY([idInventario])
REFERENCES [dbo].[inventario] ([idInventario])

ALTER TABLE [dbo].[facturasDetalles] CHECK CONSTRAINT [FK_facturasDetalles_ToProducto]

ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_Toproductos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[productos] ([idProducto])

ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_Toproductos]

ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_Catego_ToProd] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categorias] ([idCategoria])

ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_Catego_ToProd]

ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_Prov_ToProd] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedores] ([idProveedor])

ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_Prov_ToProd]

/*AQUI LOS DATOS PRECARGADOS A UTLIZAR*/
INSERT INTO [dbo].[roles] (rol)
VALUES 
('Administrador'),
('Bodega'),
('Cajero');
GO
/*Primera cuenta administrador CAMBIARLA LUEGO DE SU PRIMER USO*/
-- Insertar un solo empleado administrador para inicio de sesión
INSERT INTO [dbo].[empleados] (
    [idRol],
    [nombre],
    [credencial],
    [contraseña],
    [telefono],
    [email],
    [direccion],
    [fechaNacimiento],
    [estado],
    [ultimaActualizacion]
)
VALUES (
    1, -- Administrador
    'Usuario Administrador de empresa',
    'USR000001',
	'123',
    '1212-1212',
    'admin@empresa.com',
    'Dirección principal',
    '1990-01-01',
    1, -- Activo
    GETDATE()
);
GO