<div class="container mt-4">
    <h2 class="mb-4">Registro de Compras</h2>

    <!-- Barra de búsqueda -->
    <div class="mb-3">
        <input type="text" id="busqueda" class="form-control" placeholder="Busqueda...">
    </div>

    <div class="table-responsive">
        <table class="table table-dark table-striped  text-center"  id="tablaRegistroCompras">
            <thead>
                <tr>
                    <th>N° de compra</th>
                    <th>Proveedor</th>
                    <th>Producto</th>
                    <th>Solicitado por:</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Sub total</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenarán las filas dinámicamente -->
                <tr>
                    <td colspan="9" class="text-muted">No hay compras registradas</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
